body{
    background-color: #000;
    color: #0dcaf0;
}

.caixa{
    width: 200px;
    height: 200px;
    border: solid white 1px;
    float: left;
}
#aquelaCaixa{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: solid white 1px;
}
a{
    text-decoration:none;
}

